.perfil-usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.perfil-usuario img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.perfil-usuario h2, .perfil-usuario p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.imagen-perfil {
  width: 150px;
  height: 150px;
}