.perfil-usuario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.perfil-usuario img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.perfil-usuario h2, .perfil-usuario p {
  text-align: center;
  margin: 0;
  padding: 0;
}
.imagen-perfil {
  width: 150px;
  height: 150px;
}
a.btn {
  /* aplicamos los estilos "btn" y "btn-outline-info" a todos los botones dentro de la barra de navegación */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7409cc;
  background-color: transparent;
  border-color: #000000;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

nav button.btn-outline-info {
  /* aplicamos el estilo "btn-outline-info" a los botones que tengan la clase "btn */

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
} 
}




a.btn {
  /* aplicamos los estilos "btn" y "btn-outline-info" a todos los botones dentro de la barra de navegación */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  background-color: transparent;
  border-color: #000000;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

nav button.btn-outline-info {
  /* aplicamos el estilo "btn-outline-info" a los botones que tengan la clase "btn */

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
} 
}
            /* el siguiente boton es con un deplegable */
.inicio-alumno-estilos{
  background-color: #e0dede;
  scroll-margin-block: left;
  text-align: left;
}
.inicio-alumno-estilos2{
  background-color: #d1d1d1;
  scroll-margin-block: left;
  text-align: left;
}
/* Estilos para el botón */
.dropdown-btn {
background-color: #3ae4e4;
color: white;
padding: 12px;
font-size: 16px;
border: none;
cursor: pointer;
}

/* Estilos para el contenido del menú */
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Estilos para las opciones del menú */
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
cursor: pointer;
}

/* Estilos para las opciones del menú cuando se pasa el mouse sobre ellas */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Estilos para el botón cuando se pasa el mouse sobre él */
.dropdown-btn:hover {
background-color: #1b54aa;
}

.desplegable1{
background-color: #e0dede;
scroll-margin-block: left;
text-align: left;
display: inline-block;
}
.desplegable2{
background-color: #d1d1d1;
scroll-margin-block: left;
text-align: left;
display: inline-block;
}

.tabla{
  border: #3ae4e4;
  border-style: dashed;
}
